PORT=8000
NODE_ENV=development

DB_URL=your_database_url

VAPID_PUBLIC=your_vapid_public_key
VAPID_PRIVATE=your_vapid_private_key
VAPID_SUBJECT=mailto:your@email.com

JWT_KEY=your_jwt_secret
JWT_EXPIRES_IN=90d

EMAIL_HOST=smtp.example.com
EMAIL_PORT=465
EMAIL_USERNAME=your_username
EMAIL_PASSWORD=your_password

FRONTEND_URL=http://localhost:5173