PORT=8000
NODE_ENV=development

DB_URL=database_url

VAPID_PUBLIC=vapid_public_key
VAPID_PRIVATE=vapid_private_key
VAPID_SUBJECT=mailto:mail@email.com

JWT_KEY=your_jwt_secret
JWT_EXPIRES_IN=90d

EMAIL_HOST=smtp.example.com
EMAIL_PORT=465
EMAIL_USERNAME=username
EMAIL_PASSWORD=password

CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret

FRONTEND_URL=http://localhost:5173