.change-password-page {
  background: var(--c3);
  height: 100vh;
}

.change-password-page > .form-container {
  background: var(--c1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 430px;
  height: 470px;
  margin: auto;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.change-password-page > .form-container > form > .back-icon {
  font-size: 20px;
  color: var(--c3);
  margin: 0 auto 0 -10%;
  cursor: pointer;
  transition: var(--transition);
}

.change-password-page > .form-container > form > .back-icon:hover {
  opacity: 0.7;
}

.change-password-page > .form-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.change-password-page > .form-container > form > h2 {
  color: var(--c3);
  font-size: 1.4rem;
  margin-bottom: 10%;
}

.change-password-page > .form-container > form > .row-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.change-password-page > .form-container > form > .row-wrap > input {
  background: var(--c3);
  color: var(--c1);
}

.row-wrap > label {
  font-size: 11px;
  color: var(--c3);
}

.change-password-page > .form-container > form > .show-password {
  background: none;
  color: var(--c3);
  margin-right: auto;
  border: 1px solid var(--c3);
  border-radius: 10px;
  font-size: 11px;
  padding: 4px 10px;
  margin-top: -10px;
  cursor: pointer;
  transition: var(--transition);
}

.change-password-page > .form-container > form > .show-password.active {
  background: var(--c2);
  color: var(--c3);
}

.change-password-page > .form-container > form > .show-password:hover {
  opacity: 0.8;
}

.change-password-page > .form-container > form > .err-message {
  letter-spacing: 0.5px;
  margin-top: 15px;
}

.change-password-page > .form-container > form > button {
  background: var(--c3);
  font-size: 11px;
  color: var(--c1);
  font-weight: 700;
  border: none;
  width: 80px;
  height: 25px;
  margin-top: 10px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: var(--transition);
}

.change-password-page > .form-container > form > button:hover {
  transform: scale(0.97);
  opacity: 0.8;
  box-shadow: unset;
  transition: var(--transition);
}

@media (max-width: 768px) {
  .change-password-page > .form-container {
    width: 85%;
    max-width: 430px;
    height: 450px;
    padding: 20px 0;
  }
}

@media (max-width: 480px) {
  .change-password-page > .form-container {
    width: 90%;
    margin-top: 7%;
    margin-bottom: 5%;
  }

  .change-password-page > .form-container > form {
    padding: 0;
  }

  .change-password-page > .form-container > form > h2 {
    font-size: 1.2rem;
    margin-bottom: 8%;
    text-align: center;
  }

  .change-password-page > .form-container > form > .row-wrap {
    width: 100%;
    margin-bottom: 20px;
  }

  .change-password-page > .form-container > form > .row-wrap > input {
    width: 300px;
  }

  .change-password-page > .form-container > form > .back-icon {
    font-size: 18px;
    color: var(--c3);
    margin: 0 auto 0 -5%;
  }
}

@media (max-width: 425px) {
  .change-password-page > .form-container > form > .row-wrap > input {
    width: 250px;
    height: 12px;
  }

  .change-password-page > .form-container > form > .row-wrap {
    width: 100%;
    margin-bottom: 30px;
  }

  .change-password-page > .form-container > form > h2 {
    font-size: 1.2rem;
    margin-bottom: 12%;
    text-align: center;
  }

  .change-password-page > .form-container > form > .back-icon {
    margin: 0 auto 0 -8%;
  }
}

@media (max-width: 360px) {
  .change-password-page > .form-container {
    width: 95%;
    margin-top: 18%;
  }

  .change-password-page > .form-container > form > h2 {
    font-size: 1.1rem;
  }

  .change-password-page > .form-container > form > .back-icon {
    margin-left: -5%;
  }
}
