.disable-2fa-page {
  background: var(--c3);
  height: 100vh;
}

.otp-box {
  width: 350px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--c1);
  border-radius: 10px;
}

.otp-box > .err-message {
  margin-top: 10%;
  letter-spacing: 0.5px;
}

.otp-box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.otp-box-wrapper > h3 {
  color: var(--c1);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  letter-spacing: 0.5px;
  margin: auto;
  margin-top: 12%;
}

.back-btn {
  background: var(--c2);
  color: var(--c3);
  border: none;
  border-radius: 12px;
  width: 100px;
  padding: 5px 0;
  letter-spacing: 0.5px;
  font-size: 13px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  transition: var(--transition);
}

.back-btn:hover {
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.04);
  transform: scale(0.97);
}

@media (max-width: 480px) {
  .otp-box {
    width: 88%;
    max-width: 350px;
    height: 120px;
    padding: 13px 10px;
  }

  .otp-box-wrapper {
    gap: 20px;
  }

  .otp-box-wrapper > h3 {
    font-size: 1rem;
    text-align: center;
    margin-top: 25%;
  }

  .back-btn {
    width: 90px;
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  .otp-box {
    width: 90%;
    padding: 15px 8px;
  }

  .otp-box-wrapper {
    gap: 15px;
  }

  .otp-box-wrapper > h3 {
    font-size: 0.9rem;
    margin-top: 33%;
  }

  .back-btn {
    width: 80px;
    font-size: 11px;
    padding: 4px 0;
  }
}
